In [7]:
import csv
import os
import pandas as pd

In [9]:
csv_path = os.path.join("data", "reduced_texas_df.csv")
print(csv_path)

data\reduced_texas_df.csv

In [17]:
texas_df = pd.read_csv(csv_path, encoding="utf-8")
texas_df.head(5)

,ID,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Description,City,State,...,Weather_Timestamp,Temperature(F),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,261002,201.0,2,11/30/2016 16:03,11/30/2016 17:20,30.336502,-97.755646,Accident on RM-2222 Northland Dr at Mo Pac Exp...,Austin,TX,...,11/30/2016 15:51,66.0,10.0,5.8,NaN,Clear,Day,Day,Day,Day
1,261003,201.0,2,11/30/2016 16:32,11/30/2016 17:47,30.328165,-97.694305,Accident on Grand Canyon Dr between Westheimer...,Austin,TX,...,11/30/2016 16:51,62.1,10.0,4.6,NaN,Clear,Day,Day,Day,Day
2,261004,201.0,2,11/30/2016 16:31,11/30/2016 17:46,30.326077,-97.692307,Accident on Saint Johns Ave at Cameron Rd.,Austin,TX,...,11/30/2016 16:51,62.1,10.0,4.6,NaN,Clear,Day,Day,Day,Day
3,261005,201.0,2,11/30/2016 16:06,11/30/2016 17:27,32.856014,-97.513084,#2 lane blocked and right hand shoulder blocke...,Fort Worth,TX,...,11/30/2016 16:00,NaN,NaN,NaN,NaN,NaN,Day,Day,Day,Day
4,261006,201.0,3,11/30/2016 16:35,11/30/2016 17:49,32.797668,-97.212090,#2 lane blocked and right hand shoulder blocke...,Fort Worth,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,Day,Day,Day,Day

In [16]:
bins = [0, 4, 8, 12, 16, 20, 24]

hour_groups = ["Midnight to 4am", "4am to 8am", "8am to Noon", "Noon to 4pm","4pm to 8pm", "8pm to Midnight"]

In [14]:
texas_df["Hours groups"] = pd.cut(texas_df["Start_Time"], bins, labels=hour_groups)
texas_df.head()

TypeError: '<' not supported between instances of 'int' and 'str'